select {
  height: 30px;
  width: 180px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 155px center;
  font-size: 12px;
}

.sort-by-wrapper {
  padding: 10px 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-by-wrapper  label {
  margin-right: 5px;
}

.sort-by-wrapper  span {
  margin-left: 10px;
}
