.price-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  min-width: 200px;
}

.regular-price {
  color: #DF6548;
  font-size: 12px;
}

.best-price {
  font-size: 23px;
  font-weight: bold;
}

.best-price-message {
  color: #4D8E20;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 7px;
}

.go-to-offer-btn {
  background-color: #FF4B00;
  border-radius: 15px;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 90%;
  color: white;
  font-weight: bold;
  border: 0;
}

.go-to-offer-btn span {
  margin-right: 5px;
}

.other-prices {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.other-prices li {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  font-size: 12px;
}

.show-details {
  display: flex;
  border: 0;
  font-weight: bold;
  margin-top: 10px;
}

.show-details span {
  margin: 3px;
}
