body {
  background-color: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: #0092E5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

h1 {
  margin: 0;
  padding: 20px 15px;
  font-size: 14px;
  color: white;
  font-weight: 100;
}

main {
  margin-top: 100px;
}

.sort-by-wrapper {
  padding: 10px 20px;
  font-size: 12px;
}
.sort-by-wrapper a {
  color: #4FB3EA;
  border-bottom: 1px #4FB3EA dashed;
  text-decoration: none;
}
